*,*::before, *::after {
    box-sizing: border-box
}

body {
    background-color: rgb(90, 245, 160);

}

h1 {
    background-color: rgb(58, 55, 55);
    color: blue;
    text-align: center;
}

h2 {
    font-size: 4rem;
}


.middle {
    margin: 0;
    text-align: center;
    height: 50%;
    
    
}

img {
    height: 60px;
    width: 60px;
}

span {
    font-size: 4rem;

}

.fiveDay {
    background-color: azure;
}

/* .col-md-2 {
     
    top: 0; 
    left: 0;
    padding-top: 20px;
}   */
.col-md-9 {
   
    border: 3px solid black;
    margin: 0;
    display: grid;
   
}


.degrees {
    display: grid;
    /*grid-template-columns: auto;
    justify-content: center;*/

} 
span {
    cursor: pointer;
  }
  
  /*.modal {
    display: none;  
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #586994;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }*/

  #day1 {
      position: relative;
      background-color: aquamarine;
      width: 100px;
      height: 100px;
      border: 1px solid black;
  }
  #day2 {
    position: relative;
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    }
    #day3 {
        position: relative;
        background-color: aquamarine;
        width: 100px;
        height: 100px;
        border: 1px solid black;
    }
    #day4 {
        position: relative;
        background-color: aquamarine;
        width: 100px;
        height: 100px;
        border: 1px solid black;
    }
    #day5 {
        position: relative;
        background-color: aquamarine;
        width: 100px;
        height: 100px;
        border: 1px solid black;
    } 